#!/bin/bash
set -euo pipefail

mc --config-dir /tmp/.mc alias set s3 '{{ s3.secret.endpoint }}' '{{ s3.secret.accesskey }}' '{{ s3.secret.secretkey }}'

latest=$(mc --config-dir /tmp/.mc ls s3/{{ s3.secret.bucket }}/ | grep 'tower-' | sort | tail -n 1 | awk '{print $NF}')
if [ -z "$latest" ]; then
  echo "ERROR: No backup folders found"
  exit 1
fi

echo "Downloading: $latest"
rm -rf /backups/awx-prod
mc --config-dir /tmp/.mc cp --recursive s3/{{ s3.secret.bucket }}/$latest /backups/awx-prod/
