{% if k8s_container_registry %}
  image: {{ k8s_container_registry | default("ghcr.io/ctrliq", true)  ~ "/ascender" }}
{% else %}
  image: {{ ASCENDER_IMAGE }}
{% endif %}
  image_version: {{ ASCENDER_VERSION | default("25.2.0") }}
{% if k8s_platform == "k3s" and k8s_offline | default(false) | bool %}
  image_pull_policy: Never
{% else %}
  image_pull_policy: {{ ascender_image_pull_policy | default("Always") }}
{% endif %}
  replicas: {{ ascender_replicas | default(1) }}
  init_container_image: {{ k8s_container_registry | default("ghcr.io/ctrliq", true)  ~ "/ascender-ee" }}
  init_container_image_version: latest
  control_plane_ee_image: {{ k8s_container_registry | default("ghcr.io/ctrliq", true)  ~ "/ascender-ee" }}:latest
  postgres_image: {{ k8s_container_registry | default("quay.io", true)  ~ "/sclorg/postgresql-15-c9s" }}
  postgres_image_version: "latest"
  postgres_extra_args:
     - '-c'
     - 'shared_buffers=256MB'
     - '-c'
     - 'max_connections=1000'
{% if POSTGRES_PVC_SIZE_GB is defined %}
  postgres_storage_requirements:
    requests:
      storage: {{ POSTGRES_PVC_SIZE_GB }}Gi
{% endif %}
{% if POSTGRES_STORAGE_CLASS is defined %}
  postgres_storage_class: {{ POSTGRES_STORAGE_CLASS }}
{% endif %}
  redis_image: {{ k8s_container_registry | default("docker.io", true)  ~ "/redis" }}
  redis_image_version: "7"
{% if k8s_image_pull_secret is defined and k8s_image_pull_secret != 'None' %}
  image_pull_secret: {{ k8s_image_pull_secret }}
{% endif %}
{% if k8s_ee_pull_credentials_secret is defined and k8s_ee_pull_credentials_secret != 'None'%}
  ee_pull_credentials_secret: {{ k8s_ee_pull_credentials_secret }}
{% endif %}
  redis_capabilities:
   - CHOWN
   - SETUID
   - SETGID
{% if ee_images is defined %}
  ee_images:
{% for ee in ee_images %}
    - name: {{ ee.name }}
      image: {{ ee.image}}
{% endfor %}
{% endif %}
