#jinja2: keep_trailing_newline:True
---
# Ascender admin password
apiVersion: v1
kind: Secret
metadata:
  name: ascender-app-admin-password
  namespace: {{ ASCENDER_NAMESPACE }}
stringData:
  password: {{ ASCENDER_ADMIN_PASSWORD }}
{% if  ASCENDER_PGSQL_HOST is defined %}
---
# Ascender postgres host/port and credentials
apiVersion: v1
kind: Secret
metadata:
  name: ascender-app-postgres-configuration
  namespace: {{ ASCENDER_NAMESPACE }}
stringData:
  host: {{ ASCENDER_PGSQL_HOST }}
  port: '{{ ASCENDER_PGSQL_PORT }}'
  database: {{ ASCENDER_PGSQL_DB }}
  username: {{ ASCENDER_PGSQL_USER }}
  password: {{ ASCENDER_PGSQL_PWD }}
  sslmode: prefer
  type: unmanaged
type: Opaque
{% endif %}
{% if custom_cacert_bundle is defined %}
---
# Ascender Custom CA Bundle
apiVersion: v1
kind: Secret
metadata:
  name: ascender-app-custom-cert-bundle
  namespace: {{ ASCENDER_NAMESPACE }}
data:
  bundle-ca.crt: {{ lookup('ansible.builtin.file', custom_cacert_bundle) | b64encode }}
{% endif %}
{% if custom_ldap_cacert is defined %}
---
# Ascender Custom LDAP CA Cert
apiVersion: v1
kind: Secret
metadata:
  name: ascender-app-custom-ldap-cacert
  namespace: {{ ASCENDER_NAMESPACE }}
data:
  ldap-ca.crt: {{ lookup('ansible.builtin.file', custom_ldap_cacert) | b64encode }}
{% endif %}
{% if k8s_lb_protocol == 'https' %}
---
# Ascender TLS Certificate and Key
apiVersion: v1
data:
  tls.crt: {{ lookup('ansible.builtin.file', tls_crt_path) | b64encode }}
  tls.key: {{ lookup('ansible.builtin.file', tls_key_path) | b64encode }}
kind: Secret
metadata:
  name: ascender-tls-secret
  namespace: {{ ASCENDER_NAMESPACE }}
type: kubernetes.io/tls
{% endif %}
---
# Ascender AWX Object
apiVersion: awx.ansible.com/v1beta1
kind: AWX
metadata:
  name: ascender-app
  namespace: {{ ASCENDER_NAMESPACE }}
spec:
{% include 'additional-spec.yml' %}
  service_type: ClusterIP
  garbage_collect_secrets: {{ ascender_garbage_collect_secrets | default('false') }}
  admin_user: {{ ASCENDER_ADMIN_USER | default('admin') }}
  admin_password_secret: ascender-app-admin-password
{% if  ASCENDER_PGSQL_HOST is defined %}
  postgres_configuration_secret: ascender-app-postgres-configuration
{% endif %}
{% if custom_cacert_bundle is defined %}
  bundle_cacert_secret: ascender-app-custom-cert-bundle
{% endif %}
{% if custom_ldap_cacert is defined %}
  ldap_cacert_secret: ascender-app-custom-ldap-cacert
{% endif %}
  ingress_type: ingress
  ingress_path: "/"
  ingress_path_type: Prefix
{% if k8s_lb_protocol == 'https' %}
  ingress_tls_secret: ascender-tls-secret
{% endif %}
  hostname: {{ ASCENDER_HOSTNAME }}
  extra_settings:
  - setting: CSRF_TRUSTED_ORIGINS
    value:
      - http{% if k8s_lb_protocol == 'https' %}s{% endif %}://{{ ASCENDER_HOSTNAME }}