- name: Retrieve the current time in order to timestamp files
  ansible.builtin.setup:
    gather_subset:
     - date_time

- name: Generate manifest to install Ledger k8s object with timestamp attached, for purposes of deletion later
  ansible.builtin.template:
    src: ledger_deployment_ocp.yaml
    dest: "{{ tmp_dir }}/ledger_deployment_ocp.yaml.{{ ansible_date_time.iso8601_basic_short }}"

- name: Generate manifest for the Ledger registry secret with timestamp, for purposes of deletion later
  when: LEDGER_REGISTRY.BASE is defined
  ansible.builtin.template:
    src: ledger_deployment_registry_secret.yaml
    dest: "{{ tmp_dir }}/ledger_deployment_registry_secret.yaml.{{ ansible_date_time.iso8601_basic_short }}"

- name: Apply ledger registry secret (if needed) manifest for {{ k8s_platform }}
  when: LEDGER_REGISTRY.BASE is defined
  kubernetes.core.k8s:
    state: present
    namespace: "{{ LEDGER_NAMESPACE }}"
    definition: "{{ lookup('template', 'templates/ledger_deployment_registry_secret.yaml') | from_yaml }}"
    verify_ssl: false

- name: Grant privileged SCC to '{{ ledger_service_account_name }}' service account
  kubernetes.core.k8s:
    api_version: rbac.authorization.k8s.io/v1
    kind: ClusterRoleBinding
    name: privileged-scc-{{ ledger_service_account_name }}-binding
    state: present
    definition:
      metadata:
        name: privileged-scc-{{ ledger_service_account_name }}-binding
      roleRef:
        apiGroup: rbac.authorization.k8s.io
        kind: ClusterRole
        name: system:openshift:scc:privileged
      subjects:
        - kind: ServiceAccount
          name: "{{ ledger_service_account_name }}"
          namespace: "{{ LEDGER_NAMESPACE }}"

- name: Grant anyuid SCC to '{{ ledger_service_account_name }}' service account
  kubernetes.core.k8s:
    api_version: rbac.authorization.k8s.io/v1
    kind: ClusterRoleBinding
    name: anyuid-scc-{{ ledger_service_account_name }}-binding
    state: present
    definition:
      metadata:
        name: anyuid-scc-{{ ledger_service_account_name }}-binding
      roleRef:
        apiGroup: rbac.authorization.k8s.io
        kind: ClusterRole
        name: system:openshift:scc:anyuid
      subjects:
        - kind: ServiceAccount
          name: "{{ ledger_service_account_name }}"
          namespace: "{{ LEDGER_NAMESPACE }}"

- name: "Apply ledger manifest for {{ k8s_platform }}"
  kubernetes.core.k8s:
    state: present
    namespace: "{{ LEDGER_NAMESPACE }}"
    definition: "{{ lookup('template', 'templates/ledger_deployment_ocp.yaml') | from_yaml_all }}"
    verify_ssl: false

- name: Wait for Ledger web Deployment to complete setting up
  kubernetes.core.k8s_info:
    kind: Deployment
    wait: yes
    name: web
    namespace: "{{ LEDGER_NAMESPACE }}"
    wait_sleep: 10
    wait_timeout: 360
    verify_ssl: false

- name: Wait for Ledger parser Service to be up
  kubernetes.core.k8s_info:
    kind: Service
    wait: yes
    name: parser
    namespace: "{{ LEDGER_NAMESPACE }}"
    wait_sleep: 10
    wait_timeout: 360
    verify_ssl: false
  register: parser_svc

- ansible.builtin.debug:
    var: parser_svc.resources[0].spec.ports[0].port

- name: Set the Ledger URL
  ansible.builtin.set_fact:
      ledger_ip: "{{ LEDGER_HOSTNAME }}"
      ledger_port: "443"
      ledger_parser_ip: "{{ parser_svc.resources[0].spec.clusterIP }}"
      ledger_parser_port: "{{ parser_svc.resources[0].spec.ports[0].port }}"

- ansible.builtin.debug:
    msg: "The Ledger endpoint is https://{{ ledger_ip }}"

- name: Wait until Ledger endpoint is Up
  ansible.builtin.uri:
    url: "https://{{ ledger_ip }}"
    return_content: yes
    validate_certs: false
    status_code:
      - 200
  until: uri_output.status == 200
  retries: 200
  delay: 10
  register: uri_output

- ansible.builtin.debug:
    msg: "Ledger webpage is up"

- name: Set the Ascender URL and Credentials for HTTPS
  ansible.builtin.set_fact:
    ascender_ip: "{{ ledger_ip if k3s_service_type == 'NodePort' else ASCENDER_HOSTNAME }}"
    ascender_port: "443"

- ansible.builtin.debug:
    msg: "The Ascender API endpoint is https://{{ ascender_ip }}/api/v2/ping/"

- name: Wait until Ascender API is Up
  ansible.builtin.uri:
    url: "https://{{ ascender_ip }}/api/v2/ping/"
    return_content: yes
    validate_certs: false
    status_code:
      - 200
  until: uri_output.status == 200
  retries: 60
  delay: 10
  register: uri_output

- ansible.builtin.debug:
    msg: "Ascender API is up"

- when: LEDGER_REGISTRY.BASE is defined and LEDGER_REGISTRY.BASE != ""
  block:

    - name: Check Ledger Token
      ansible.builtin.uri:
        url: "https://{{ ledger_ip }}/api/v1/settings/"
        user: admin
        password: "{{ LEDGER_ADMIN_PASSWORD }}"
        force_basic_auth: true
        return_content: yes
        validate_certs: false
        status_code:
          - 200
      until: uri_output.status == 200
      retries: 60
      delay: 10
      register: ledger_settings

    - name: Regenerate Token if blank
      ansible.builtin.uri:
        url: "https://{{ ledger_ip }}/api/v1/settings/?regenerate_auth_token=1"
        user: admin
        password: "{{ LEDGER_ADMIN_PASSWORD }}"
        force_basic_auth: true
        return_content: yes
        validate_certs: false
        status_code:
          - 200
      until: uri_output.status == 200
      retries: 60
      delay: 10
      register: ledger_settings2
      when: ledger_settings.json.auth_token is undefined

    - name: Get Ledger Token Again (in case of regeneration)
      ansible.builtin.uri:
        url: "https://{{ ledger_ip }}/api/v1/settings/"
        user: admin
        password: "{{ LEDGER_ADMIN_PASSWORD }}"
        force_basic_auth: true
        return_content: yes
        validate_certs: false
        status_code:
          - 200
      until: uri_output.status == 200
      retries: 60
      delay: 10
      register: ledger_settings

    - ansible.builtin.debug:
        var: ledger_settings.json.auth_token

    - name: Enable Require Token
      ansible.builtin.uri:
        url: "https://{{ ledger_ip }}/api/v1/settings/"
        user: admin
        password: "{{ LEDGER_ADMIN_PASSWORD }}"
        force_basic_auth: true
        method: POST
        body_format: json
        body: '{ "require_auth_token": 1 }'
        return_content: yes
        validate_certs: false
        status_code:
          - 200
      until: uri_output.status == 200
      retries: 60
      delay: 10
      when:
        - ledger_settings.json.auth_token is defined
        - ledger_settings.json.require_auth_token == 0

- name: Set all the logging parameters
  awx.awx.settings:
    controller_host: "https://{{ ascender_ip }}"
    controller_username: "{{ ASCENDER_ADMIN_USER }}"
    controller_password: "{{ ASCENDER_ADMIN_PASSWORD }}"
    validate_certs: false
    settings:
      LOG_AGGREGATOR_HOST: "http://{{ ledger_parser_ip }}"
      LOG_AGGREGATOR_PORT: "{{ ledger_parser_port }}"
      LOG_AGGREGATOR_TYPE: ledger
      LOG_AGGREGATOR_ENABLED: true
      LOG_AGGREGATOR_VERIFY_CERT: false
      LOG_AGGREGATOR_LEVEL: INFO
      LOG_AGGREGATOR_PASSWORD: "{{ ledger_settings.json.auth_token | default(omit, true) }}"
      TOWER_URL_BASE: "https://{{ ascender_ip }}"
