- name: Retrieve the current time in order to timestamp files
  ansible.builtin.setup:
    gather_subset:
     - date_time

- name: Generate manifest to install AWX Operator
  ansible.builtin.template:
    src: templates/awx-operator/kustomization.j2
    dest: "{{ tmp_dir }}/kustomization.yml"

- name: Generate manifest to install AWX Operator with timestamp attached, for purposes of operator deletion later
  ansible.builtin.template:
    src: templates/awx-operator/kustomization.j2
    dest: "{{ tmp_dir }}/kustomization.yml.{{ ansible_date_time.iso8601_basic_short }}"

- name: Install AWX Operator with Kustomize
  kubernetes.core.k8s:
    definition: "{{ lookup('kubernetes.core.kustomize', dir=tmp_dir) }}"

- name: delete Kustomization file
  ansible.builtin.file:
    path: "{{ tmp_dir }}/kustomization.yml"
    state: absent

- name: Wait for Operator deployment to be ready
  kubernetes.core.k8s_info:
    kind: Deployment
    wait: yes
    name: awx-operator-controller-manager
    namespace: "{{ ASCENDER_NAMESPACE }}"
    wait_sleep: 10
    wait_timeout: 360
  
- name: Generate manifest to install AWX ascender-app k8s object with timestamp attached, for purposes of deletion later
  ansible.builtin.template:
    src: "ascender-deployment/ascender-deployment-k3s.yml"
    dest: "{{ tmp_dir }}/ascender-deployment-k3s.yml.{{ ansible_date_time.iso8601_basic_short }}" 

- name: "Apply AWX ascender-app manifest for {{ k8s_platform }}"
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('ansible.builtin.template', 'ascender-deployment/ascender-deployment-k3s.yml') }}"

- name: Wait for ascender-app-web Deployment to complete setting up
  kubernetes.core.k8s_info:
    kind: Deployment
    wait: yes
    name: ascender-app-web
    namespace: "{{ ASCENDER_NAMESPACE }}"
    wait_sleep: 10
    wait_timeout: 360
  register: ascender_web_deployment

- ansible.builtin.debug:
    var: ascender_web_deployment

- name: Set the Ascender URL for HTTPS
  ansible.builtin.set_fact:
      ascender_ip: "{{ ASCENDER_HOSTNAME }}"
      ascender_port: 443
  when: k8s_lb_protocol == "https"

- name: Set the Ascender URL for HTTP
  ansible.builtin.set_fact:
      ascender_ip: "{{ k3s_master_node_ip }}"
      ascender_port: 80
  when: k8s_lb_protocol == "http"

- ansible.builtin.debug:
    msg: "The Ascender API endpoint is {{ k8s_lb_protocol }}://{{ ascender_ip }}:{{ ascender_port }}/api/v2/ping/"
    
- name: Wait until Ascender API is Up (This may take between 10-20 mins)
  ansible.builtin.uri:
    url: "{{ k8s_lb_protocol }}://{{ ascender_ip }}:{{ ascender_port }}/api/v2/ping/"
    return_content: yes
    validate_certs: no
    status_code:
      - 200
  until: uri_output.status == 200
  retries: 200
  delay: 10
  register: uri_output

- ansible.builtin.debug:
    msg: "Ascender API is up"


