- name: Set the Ascender URL for HTTPS
  ansible.builtin.set_fact:
      ascender_ip: "{{ ASCENDER_HOSTNAME }}"
      ascender_port: "443"
      k8s_lb_protocol: "https"

- ansible.builtin.debug:
    msg: "The Ascender API endpoint is {{ k8s_lb_protocol }}://{{ ASCENDER_HOSTNAME }}/api/v2/ping/"
    
- name: Wait until Ascender API is Up and the Database is populated
  awx.awx.organization:
    controller_host: "https://{{ ASCENDER_HOSTNAME }}"
    controller_username: "{{ ASCENDER_ADMIN_USER }}"
    controller_password: "{{ ASCENDER_ADMIN_PASSWORD }}"
    name: Default
    state: exists
    validate_certs: false
  until: org.id is defined and org.id == 1
  retries: 200
  delay: 10
  register: org
