- name: Create Job Template - {{ template.name }}
  awx.awx.job_template:
    controller_host: "{{ k8s_lb_protocol }}://{{ ascender_ip }}:{{ ascender_port }}"
    controller_username: "{{ ASCENDER_ADMIN_USER }}"
    controller_password: "{{ ASCENDER_ADMIN_PASSWORD }}"
    name: "{{ template.name }}"
    job_type: "{{ template.job_type | default('run') }}"
    organization: Default
    inventory: "{{ template.inventory | default('Default Inventory') }}"
    project: "{{ template.project }}"
    playbook: "{{ template.playbook }}"
    state: present
    survey_enabled: "{{ template.survey_enabled | default(omit) }}"
    survey_spec: "{% if template.survey_file is defined %}{{ lookup('file', template.survey_file) }}{% else %}{{ ''| default(omit, true) }}{% endif %}"
    ask_credential_on_launch: "{{ template.ask_credential_on_launch | default(omit) }}"
    diff_mode: "{{ template.diff_mode | default(omit) }}"
    extra_vars: "{{ template.extra_vars | default(omit) }}"
    validate_certs: false
  register: result
  until: result is succeeded
  retries: 20
  delay: 5
