# Copyright (c) 2025, Ctrl IQ, Inc. All rights reserved.

- hosts: localhost
  gather_facts: no
  connection: local

  tasks:

    - ansible.builtin.debug:
        msg: "This is the RESTORE playbook."