- hosts: ascender
  gather_facts: no
  connection: local

  vars_files:
    - default.config.yml

  environment:
    K8S_AUTH_KUBECONFIG: "{{ lookup('env', 'HOME') }}/.kube/config"
    PATH: "/usr/local/bin:{{ lookup('env', 'PATH') }}" #required as the aws cli lives at /usr/local/bin/aws

  tasks:

    - name: "Run ascender_credentials_{{ k8s_platform }}.yml"
      ansible.builtin.include_role:
        name: setup_playbooks
        tasks_from: "ascender_credentials_{{ k8s_platform }}"

    - name: "Configure Ascender with CIQ resources"
      ansible.builtin.include_role:
        name: setup_playbooks